
.XRayListElement {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: row;
    margin:20px;
    border-radius: 10px;
    cursor: pointer;
}

.XRayListElement:hover{
    background-color: rgb(235, 235, 250);
}

.imageAndDiseaseContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.similarImage{
    width:300px;
    border-radius: 10px;
}

.diseaseText{
    flex: 1;
    font-size: 25px;
}

.imageInfosContainer{
    margin-top: 95px; /*To be aligned with start of image*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px

}


.patientIdText{
    flex: 1;
    font-size: 20px;
    color: #555;
}

.followUpText{
    flex: 1;
    font-size: 20px;
    color: #555;
}

.similarityText{
    flex: 1;
    font-size: 20px;
    color: #555;
}
