.similarImagesContainer{
    background-color: white;
    display: flex;
    height:100vh;
}

.verticalLine{
    background-color: rgb(235, 235, 235);
    width: 5px;
    height: 100vh;
}

.imageContainer{
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadedImage{
    object-fit: contain;
    width: 30vw;
    position: sticky;
}

.similarImagesListScroller{
    overflow: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
}