.xrayDisplayContainer{
    background-color: white;
    display: flex;
    height:100vh;
}

.verticalLine{
    background-color: rgb(235, 235, 235);
    width: 5px;
    height: 100vh;
}

.imageContainer{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadedImage{
    height: 60vh;
    position: sticky;
    margin: 100px; /* Only used when screen is very small, otherwise has no impact */
}


.XRayListScroller{
    flex:1;
    overflow: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.XRayListElement {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.XRayListElement:hover{
    background-color: rgb(235, 235, 250);
}

.imageAndDiseaseContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.similarImage{
    width:300px;
    border-radius: 10px;
}

.diseaseText{
    flex: 1;
    font-size: 25px;
}

.imageInfosContainer{
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px

}


.patientIdText{
    flex: 1;
    font-size: 20px;
}

.followUpText{
    flex: 1;
    font-size: 20px;
}

.similarityText{
    flex: 1;
    font-size: 20px;
}
