.uploaderScreenContainer{
    display: flex;
    flex-direction: column;
}

.uploaderIcon {
    margin: 34px;
    font-size: 40px;
    color: #104242;
}

.text {
    font-size: 20px;
    color: #104242;
}

.uploaderContainer {
    margin:50px 50px 10px;
    background-color: #fcfcfc;
    padding: 5px 0px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgb(230, 230, 230);
}

.uploaderContainer:hover {
    background-color: #f3fafa;
    box-shadow: 0 10px 10px rgb(230, 230, 230);
}

.textContainer {
    margin: 10px 50px 50px;
    color: #191919;
}