.latentSpaceExploratorContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    height:100vh;
    overflow-x: scroll;
    overflow-y: auto;
}

.rollout_full_row_container{
    flex:1;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.rollout_row_images_container{
    flex:10;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rollout_image{
    width:8%;
    margin-right: 3px;
}

.input_dimension{
    width:142px;
    margin-left: 10px;
    margin-right: 10px;
}

.container_dim_text_and_editor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:150px;
    margin-left: 10px;
    margin-right: 10px;
}

.dim_text{
    font-size: 20;
    font-weight: bold;
    overflow: auto;
    margin-right: 5px;
    margin-left: 5px;
}

.edit_button:hover{
    background-color: #effbfb;
    box-shadow: 0 4px 7px rgb(230, 230, 230);
}

.edit_button{
    border-radius: 5px;
    cursor: pointer;
}

.edit_icon{
    font-size: 20px;
}

.reloadImageContainer{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Use to tell the animation where it should be at each step. Can add more steps to make it look smoother*/
@keyframes rotation {
    0%   {transform: rotate(0deg)}
    10%  {transform: rotate(50deg)}
    20%  {transform: rotate(100deg)}
    30%  {transform: rotate(150deg)}
    40%  {transform: rotate(200deg)}
    50%  {transform: rotate(240deg)}
    55%  {transform: rotate(256deg)}
    60%  {transform: rotate(270deg)}
    65%  {transform: rotate(276deg)}
    70%  {transform: rotate(280deg)}
    75%  {transform: rotate(288deg)}
    80%  {transform: rotate(300deg)}
    85%  {transform: rotate(313deg)}
    90%  {transform: rotate(325deg)}
    95%  {transform: rotate(341deg)}
    100% {transform: rotate(360deg)}
}  

.reloadIcon{
    font-size: 200px;
    animation: rotation 0.85s infinite linear;
}