.latentSpaceExploratorContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    height:100vh;
    overflow-x: scroll;
    overflow-y: auto;
}

.rollout_full_row_container{
    flex:1;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.rollout_row_images_container{
    flex:10;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rollout_image{
    width:8%;
    margin-right: 3px;
}

.input_dimension{
    width:142px;
    margin-left: 10px;
    margin-right: 10px;
}

.container_dim_text_and_editor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:150px;
    margin-left: 10px;
    margin-right: 10px;
}

.dim_text{
    font-size: 20;
    font-weight: bold;
    overflow: auto;
    margin-right: 5px;
    margin-left: 5px;
}

.edit_button:hover{
    background-color: #f1f1f1;
    box-shadow: 0 10px 15px rgb(230, 230, 230);
}

.edit_button{
    cursor: pointer;
}

.edit_icon{
    font-size: 20px;
}