.App {
  width: 100vw;
  height: 100vh;
}

.XRayCBIR {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.XRayList {
  list-style-type: none;
}

.XRayListElement {
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
}
