.filtersContainer{
    max-width: 300px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.filterContainer{
    flex: 1;
    margin-bottom: 20px;
}

.filterTitleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filterIcon{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.filterName{
    color: #555;;
}

.diseaseSelector{
    margin-top: 5px;
    width: 100%;
    display: block
}

.applyButton{
    margin-top: 50px;
    background-color: rgb(245, 245, 245);
    color: black;
    padding: 5px 0px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #555;
    box-shadow: 0 3px #999;
}

.applyButton:hover{
    background-color: rgb(235, 235, 250);
}

.applyButton:active {
    background-color: rgb(235, 235, 250);
    box-shadow: 0 4px #555;
    transform: translateY(2px);
  }