.filtersContainer{
    max-width: 300px;
    margin-left: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.filterContainer{
    flex: 1;
    margin-bottom: 20px;
}

.cliquableFilterTitleContainer{
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
.cliquableFilterTitleContainer:hover{
    background-color: white;
    box-shadow: 0 10px 15px rgb(222, 222, 222);
}

.cliquableFilterTitleContainer.active{
    background-color: #effbfb;
    color: #104242;
    box-shadow: 0 10px 15px rgb(222, 222, 222);
}

.filterTitleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filterIcon{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.filterName{
    color: #555;;
}

.diseaseSelector{
    margin-top: 5px;
    width: 100%;
    display: block
}

.applyButton{
    margin-top: 40px;
    color: #555;
    background-color: white;
    padding: 5px 0px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgb(222, 222, 222);
}

.applyButton:hover{
    color: #104242;
    background-color: #effbfb;
}

.applyButton:active {
    box-shadow: none;
    transform: translateY(2px);
}

.weightContainer{
    display: flex;
    flex-direction: column;
}

.fullWeightsContainer{
    padding-top: 10px;
    padding-left: 20px;
}